// neutral colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$grey-50: hsl(0, 0%, 95%);
$grey-100: hsl(0, 0%, 90%);
$grey-150: hsl(0, 0%, 85%);
$grey-200: hsl(0, 0%, 80%);
$grey-300: hsl(0, 0%, 70%);
$grey-400: hsl(0, 0%, 60%);
$grey-500: hsl(0, 0%, 50%);
$grey-600: hsl(0, 0%, 40%);
$grey-700: hsl(0, 0%, 30%);
$grey-800: hsl(0, 0%, 20%);
$grey-850: hsl(0, 0%, 15%);
$grey-900: hsl(0, 0%, 10%);


// accent colors
$green: hsl(149, 98%, 49%);
$pink: hsl(308, 100%, 46%);
$yellow: hsl(59, 100%, 62%);
$cyan: hsl(173, 100%, 50%);
