@use '../partials/colors' as clr;
@import '../partials/mixins';

.main {
  @include flex(row, $gap: 2rem, $items: center);

  & > * {
    width: 50%;
  }

  &__text {
    @include flex(column, $gap: 1rem);

    &__header {
      @include flex(column, $gap: .2rem);

      &__name {
        color: clr.$green;
      }

      &__location {
        @include flex(row, $items: center, $gap: .4rem);

        &__icon {
          color: clr.$green;
        }
      }
    }
  }
}

.image {
  //width: 30%;
  height: 100%;
  border-radius: 1rem;
}
